server:
  port: 8091

spring:
  application:
    name: billing-batch
  datasource:
    url: jdbc:mysql://localhost:3307/billing_system
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
redis:
  stream:
    message:
      key: message-stream